html {
    --deepBlue : #0c2233; 
    --blue : #083d56; 
    --lightBlue : #0e5f76;
    --yellow : #fdb44b; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    background-color: var(--blue);
    width: 100vw;
    min-height: 12vh;
    color: var(--yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-width: 0.2rem;
    border-bottom-color: white;
    border-bottom-style: solid;
}

nav h1 {
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

nav h4 {
    font-style: italic;
    color: white;
    padding-bottom: 0.5rem;
}

body {
    background-color: var(--deepBlue);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    width: 100vw;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    height: 82vh;
}

aside {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 2.2rem;
    margin: 0 5vw;
}

#right {
    margin-left: 0;
}

#left {
    margin-right: 0;
}

.counters {
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside button {
    background-color: var(--yellow);
    border-color: white;
    border-radius: 0.4rem;
    border-width: 0.3rem;
    padding: 0.5rem 0.8rem;
    font-size: 1.5rem;
    color: white;
    border-style: solid;
    text-shadow: grey;
    transition-property: background-color, transform;
    transition-duration: 0.6s, 0.05s;
    transition-timing-function: ease-out;
}

button:hover {
    cursor: pointer;
    background-color: var(--lightBlue);
}

button:active {
    background: var(--deepBlue);
    transform: scale(93%);
}

img {
    width: 100px;
}

.game-container {
    /* width: 40vw; */
    width: 35rem;
    min-width: 22rem;
    height: 70vh;
    padding: 1rem;
    border-width: 0.2rem;
    border-radius: 0.5rem;
    background-color: rgba(14, 95, 118, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem 1rem;
    perspective: 1200px;
}

.card-row {
    margin: 0 2rem;
    display: flex;
    justify-content: space-between;
}

.card {
    /* width and height are dynamically calculated by JS */
    position: relative;
    border-radius: 0.3rem;
    background-color: white;
    margin: 0.3rem 0.3rem;
    display: flex;
    transform-style: preserve-3d;
    transition: transform 0.3s;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.card:hover {
    cursor:pointer;
}

.card:active {
    transform: scale(0.95);
}

.front-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.back-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card.hidden {
    transition: transform 0.5s;
    transform: rotateY(180deg);
}

.card.revealed {
    transition: transform 0.5s;
    transform: rotateY(180deg);
}


@media (max-width: 800px) {
    .main {
        flex-wrap: wrap;
    }

    .game-container {
        margin: 0rem 3rem;
        order: 1;
    }

    #left {
        order: 2;
        margin-right: 3rem;
    }

    #right {
        order: 4;
        margin-left: 3rem;
        margin-right: 2rem;
    }

    #right .counters {
        order: 2;
    }

    #restart {
        order: 1;
        position: absolute;
        left: calc(44% - 1rem);
    }


    aside {
        height: fit-content;
        margin-top: 1rem;
        font-size: 1.8rem;
        align-items: flex-start;
        flex-direction: row;
    }
}


@media (max-width: 500px) {
    .game-container {
        margin: 0rem 2rem;
    }

    #restart {
        left: calc(44% - 1rem);
        font-size: 1.3rem;
        padding: 0.4rem 0.6rem;
        border-width: 0.2rem;
    }

    aside {
        font-size: 1.5rem;
    }
}